header{
    display: flex;
    text-align: center;
    background-color:rgba(13, 1, 50, 0.89) ;
    margin-bottom: 20px;
    padding: 0;
    line-height: 0;
    font-size: 30px;
    height: 10vh;
    width : 100vw;
    list-style: none;
}

.logo{
    height: 90%;
    max-height: 100px;
    width: auto;
    align-self: flex-start;
    margin-right: 1Opx;
    margin:3px
}

.navBarLinks{
font-family: LondrinaSketch;
font-weight: 400;
background-color: transparent;
list-style: none;
margin:10px;
display: flex;
justify-content :flex-start;
width: 100%;
box-sizing: border-box;
flex-direction: row;
align-items: center;
}

.navBarLinks a {
    color: white;
    text-decoration: none;
    padding: 20px;
    &:hover {
        color: rgb(255, 242, 128)
    }
    &.active {
        color:rgb(255, 242, 128)
    }
}
