header{
    display: flex;
    text-align: center;
    background-color:rgba(13, 1, 50, 0.89) ;
    margin-bottom: 20px;
    padding: 5px;
    line-height: 0;
    font-size: 30px;
}

.logo{
    height: 50%;
    max-height: 100px;
    width: auto;
    align-self: left;
    margin-right: 1Opx;
    margin:3px
}